name: Experiment with the checkout action

on:
  push:
    branches:
      - master
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  Checkout:
    strategy:
      matrix:
        os: [windows, macos, ubuntu]
    runs-on: ${{ matrix.os }}-latest
    steps:
      - name: Display the github workspace
        run: |
          echo "The github workspace is: ${{ github.workspace }}"
          echo $GITHUB_WORKSPACE
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: List files in the repository
        run: |
          echo "Current directory: $(pwd)"
          echo "Files in the repository: $(ls)"
      - name: Move files to C driver if on windows
        if: matrix.os == 'windows'
        run: |
          echo "Moving files to C driver"
          mkdir -p /c/test-ci
          mv * /c/test-ci/
      - name: Show files 
        run: |
          if [[ "$RUNNER_OS" == "Windows" ]]; then
            cd /c/test-ci
          fi
          pwd
          ls -alh